<!-- 1b. Python and JavaScript - ATM Application: Design a HTML form that displays user’s current balance, an input field to enter amount and buttons to withdraw or deposit money. Validate the form such that negative amount cannot be entered and Users cannot withdraw more than 5000 at one time. The maximum number of transactions  is 5. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ATM</title>
</head>
<body>
  <h1 style="text-align:center;">ATM Application</h1>
  <form class=""  method="POST">
    <fieldset>
      <legend>Current Balance</legend>
      Balance: {{ balance }}<br><br>
      <input type="number" name="amt" value=""><br><br>
      <input type="submit" name="action" value="Withdraw">
      <input type="submit" name="action" value="Deposit"> <br><br>
      {{ msg }}
    </fieldset>
  </form>
</body>
</html>
